<div class="jumbotron">
    <h1 class="lead" style="color:#F9F9F9;">职 人 聚 合 所</h1>
    <p class="slogan">
        这里是一个为“职”与”人“同时提供展示的平台
    <br>
        我们希望藉由这个平台，让高端人才和优秀职缺自由结合
    </br>
        <br>
      </br>
    </p>
    <table>
    <p class="lead" style="width:950px; float:left;"><a class="btn btn-lg btn-danger" href="/jobs">我要找职缺</a>      <a class="btn btn-lg btn-danger" href="/jobs">我要找人才</a></p>

   </table>
</div>
