<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>职人聚合所</h1>
            <h4>这里是一个为“职”与”人“同时提供展示的平台</h4>
            <h4>我们希望藉由这个平台，让高端人才和优秀职缺自由结合</h4>
        </hgroup>
        <button class="btn btn-hero btn-lg" href="/jobs">进去看看</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">
        <hgroup>
            <h1>职聚所</h1>
            <h4>我有虚位以待，你敢来吗？</h4>
        </hgroup>
        <button class="btn btn-hero btn-lg" href="/jobs">我要找职位</button>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">
        <hgroup>
            <h1>人聚所</h1>
            <h4>我有七十二变，你敢要吗？</h4>
        </hgroup>
        <button class="btn btn-hero btn-lg" href="/groups">我要找人才</button>
      </div>
    </div>
  </div>
</div>
